@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


body {
  font-family: 'Playfair Display', serif;
}


#myvideo {
  position: fixed;
  right: 0%;
  bottom: 0%;
  min-width: 100%;
  min-height: 100%;
}

.videocontent {
  position: relative;
  color: #fe019a;
  text-align: left;
  font-size: 4rem;
  padding-top: 200px;
  padding-left: 50px;
} 

.contentbtn {
  font-size: 3rem;
  position: relative;
  color: white;
  background-color: black;
  text-align: center;
}