
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
  line-height: 2;
  font-family: 'Playfair Display', serif;
}


#myvideo {
  position: fixed;
  right: 0%;
  bottom: 0%;
  min-width: 100%;
  min-height: 100%;
}

.videocontent {
  position: relative;
  color: #fe019a;
  text-align: left;
  font-size: 4rem;
  padding-top: 200px;
  padding-left: 50px;
} 


.wrapper{
  background-color: #fff;
}

img{
  max-width: 80%;
}

.img_button img{
  display: block;
}

.content{
  display: none;
  position: relative;
  padding: 20px;
  background-color: #3d0303c7;
  margin-bottom: 50px;
}

.close_button{
  display: inline-block;
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgb(25, 6, 68);
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: 0.5s all;
}

.close_button:hover{
  transform: rotate(360deg);
}

.img_button{
  transition: 0.5s all;
  cursor: pointer;
  max-width: 900px;
  margin: 0 auto 50px;
  position: relative;
}

.img_button::after{
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: 0.5s opacity;
}

.img_button:hover::after{
  opacity: 1;
}

/* 横並び追加 */
.txt_img{
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  min-height: 80vh;
  color: #aa0a8f;
}

.img{
  width: 20%;
}

.txt{
  width: 80%;
  padding: 10px;
}

#img01{
  margin-top: 100px;
}